includes:
    - ./vendor/nunomaduro/larastan/extension.neon
    - ./vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon

parameters:
    level: 5
    ignoreErrors:
        - '#Access to an undefined property Illuminate\\Foundation\\Auth\\User::\$email\.#'
    excludes_analyse:
