includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    level: 5
    ignoreErrors:
        - '#Access to an undefined property Illuminate\\Foundation\\Auth\\User::\$email\.#'
    excludes_analyse:
